<ion-view view-title="Mis Postits" ng-controller="ListCtrl">
  <ion-content>
    <ion-list show-reorder="reordering">
      <ion-item class="item-remove-animate item-icon-right"
        href="#/edit/{{note.id}}"
        ng-repeat="note in notes track by note.id">
        <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
        <!-- Iconos llamados ionicons usados por ionic cordova, tradados como una fuente -->
        <i class="icon ion-arrow-right-b"></i>
        <!-- Drag and drop facilitado con esta etiqueta de ionic, arrastrando sobre el icono tras pulsar botón Reordenar para activar -->
        <ion-reorder-button class="ion-drag"
          on-reorder="move(note, $fromIndex, $toIndex)"></ion-reorder-button>
          <!-- Deslizar a la izquierda para mostrar botón con esta etiqueta de ionic -->
        <ion-option-button class="button-assertive icon-left ion-trash-b"
          ng-click="remove(note.id)">Eliminar</ion-option-button>
          <ion-option-button class="button-balanced icon-left ion-at"
          ng-click="share(note.id)">E-mail</ion-option-button>
          <ion-option-button class="button-energized icon-left ion-at"
          ng-click="sms(note.id)">SMS</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
   <div class="button-bar">
      <a href="#/add"
        class="button button-assertive icon-left ion-compose">Nueva Nota</a>
     <!-- <a href="#/listgroups"
        class="button button-positive icon-left ion-person-stalker">Grupos</a>-->
    
      <button class="button button-positive icon-left ion-shuffle"
          ng-click="toggleReordering()">Reordenar Notas</button>
    </div>
  </div>
</ion-view>